
@import url('./components/banner.css');
@import url('./components/box.css');
@import url('./components/button.css');
@import url('./components/card-project.css');
@import url('./components/grid-wrapper.css');
@import url('./components/header.css');
@import url('./components/main-title.css');
@import url('./components/section.css');
@import url('./components/wrapper-card.css');
@import url('./components/wrapper-skill.css');
@import url('./reset.css');

html {
    scroll-behavior: smooth;
  }

header{
  display: flex;
  align-items: center;
}
.nav-bar {
  display: flex;
  align-items: center;
}






/* Adicione seu CSS existente aqui */

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #511e9d;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 30px;
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    position: relative;
  }

  .hamburger {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #dbe0ff;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menu li:last-child {
    margin-bottom: 0;
  }

  .menu li a {
    font-size: 16px;
  }

  .menu.show {
    display: flex;
  }
}
