.box {
  display: inline-block;
  padding: 42px 44px;
  width: 400px;
  height: 130px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.49);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box .navigation {
  position: absolute;
  top: calc(50% + 22px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.box .navigation .download {
  margin-top: 70px;
}

.box,
.title {
  margin-bottom: 30px;
}

.about-me-content {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.project-title.-about-me {
  font-size: 17px;
  color: #fdad00;
  text-shadow: 2px 0 #ac261d, -2px 0 #ac261d, 0 2px #ac261d, 0 -2px #ac261d,
  1px 1px #ac261d, -1px -1px #ac261d, 1px -1px #ac261d, -1px 1px #ac261d;

}

.about-me-text {
  margin-left: 20px;
  margin-top:-190px;
}



@media only screen and (max-width: 768px) {
  .about-me-content {
    flex-direction: column;
    width: 100%;
  }

  .about-me-content img {
    margin-right: 0;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
  }
}

