.download {
  display: inline-block;
  background-color: #FDAD00;
  color: #ac261d;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0;
  transition: transform 200ms linear;
  border-radius: 5cm;
}

.download:hover {
  font-family: "Aoboshi One", serif;
  background-color: #AC261D;
  color: #FDAD00;
  transform: scale(1.05);
}
