.card-project {
  position: relative;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transition: transform 200ms linear;
  background-color: #dbe0ff;
  border-radius: 10%;
  margin: 10px;
  padding: 15px;
}

.logo-project {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-project .logo-project.-project {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-project .logo-project + h2 {
  margin-top: 20px;
}

.card-project.-skill {
  text-align: center;
  background-color: #521c96;
  margin-top: 50px;
}

.card-project.-skill .project-title {
  color: #fdad00;
}

.article-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flip-card {
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
.card-front {
  text-align: center;
  background-color: aliceblue;
  border-radius: 20%;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #dbe0ff;
  border-radius: 10%;
  transform: rotateY(180deg) rotateY(180deg);
  background-color: aliceblue;
  border-radius: 20%;
}

.flipped {
  transform: scale(1.05) rotateY(180deg);
  transition: transform 200ms linear;
}

.project-title {
  color: #473fa2;
  font-family: "Aoboshi One", serif;
  font-size: 40px;
  margin-bottom: 20px;
}

.project-title.-description {
  font-size: 17px;
}


