.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  justify-items: center; 
}

@media screen and (max-width: 600px) {
 .grid-wrapper {
    grid-template-columns: 1fr;
    grid-column-gap: 0; 
  }
}
