header {
  background-color: #dbe0ff;
  padding: 10px 20px;
  
  
  justify-content: space-between;
  height:60px;
 
}

.nav-bar {
  text-align: right;
  display: flex;
}

.logo {
  font-family: "Aoboshi One", serif;
  font-size: 25px;
  font-weight: 900;
  color: #511e9d;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0;
}

 .nav-item {
  color: #511e9d;
  font-size: 20px;
  font-family: "Aoboshi One", serif;
  font-weight: 500;
  text-decoration: None;
  margin-right: 30px;
}

.nav-item:hover {
  color: #743d90;
}

.nav-bar .download{
  color: #AC261D;
}
.nav-bar .download:hover{
  color: #FDAD00;
}