.skill-tec {
    background-color: #DBE0FF; /* Cor de fundo */
  padding: 20px; /* Espaçamento interno dentro do card */
  border-radius: 8px; /* Arredonda as bordas do card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-tec .title {
  font-family: "Aoboshi One", serif;
  color: #fdad00;
  font-size: 50px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
}

.skill-tec .icon {
  margin-right: 10px;
  width:150px;
}

.skill-tec .paragraph {
  margin-top: 0;
  font-family: "Aoboshi One", serif;
  color: #ffcd60;
}
